URxvt.foreground:       #e5e9f0
URxvt.background:       #2e3440
URxvt.cursorColor:      #d6d6d6

!black
*.color0:		#2e3440
*.color8:		#4c566a

!red
*.color1:		#fe7978
*.color9:		#fe7978

!green
*.color2:		#a3e07b
*.color10:      #a3e07b

!yellow
*.color3:       #ffd773
*.color11:      #ffd773

!blue
*.color4:       #85bff9
*.color12:      #85bff9

!magenta
*.color5:       #c181de
*.color13:      #c181de

!cyan
*.color6:       #6cd9d9
*.color14:      #6cd9d9

!white
*.color7:       #e5e9f0
*.color15:      #eceff4

Xft.dpi:                    96
Xft.autohint:               0
Xft.lcdfilter:              lcddefault
Xft.hinting:                1
Xft.antialias:              1
Xft.rgba:                   rgb
URxvt*depth:                24
URxvt*internalBorder:       24
URxvt.geometry:				80x28
URxvt*saveline:				2000
URxvt*scrollBar:			false
URxvt*termName:				rxvt-256color
URxvt*font:		            xft:Hack Nerd Font Mono:style=Regular:size=11:antialias=true
